<div class="container py-3">

  <header>
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
      <span class="fs-4">Serviteca</span>

      <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
        <a class="link-danger me-3 py-2 link-body-emphasis text-decoration-none" href="/">Inicio</a>
        <a class="link-danger me-3 py-2 link-body-emphasis text-decoration-none" href="/vehiculo">Crear Vehiculo</a>
        <a class="link-danger me-3 py-2 link-body-emphasis text-decoration-none" href="/cliente">Crear Cliente</a>
        <a class="link-danger me-3 py-2 link-body-emphasis text-decoration-none" href="/crearorden">Crear Orden</a>
        <a class="link-danger me-3 py-2 link-body-emphasis text-decoration-none" href="/orden">Orden</a>
      </nav>
    </div>
  </header>
  <router-outlet></router-outlet>
</div>

<img src="assets/serviteca.jpg">
